{% extends 'layouts/main.html' %}

{% block content %}
    <style type="text/css">
        .hashtag {
            display: flex;
            justify-content: space-between;
            width: 80%;
            margin-left: 10%;
        }
    </style>
    <div class='hashtag'>
        {% for hashtag in hashtags %}
                    <h3 class="card-title">{{ hashtag.title }}</h3>
                    <a href="/posts/?hashtag_id={{ hashtag.id }}">
                        {{ hashtag.title }} ({{ hashtag.posts.count }})</a>
            </div>

        {% endfor %}
    </div>
{% endblock %}