{% extends 'layouts/main.html' %}

{% block content %}
    <style type="text/css">
        .hashtag {
            width: 40px;
            height: 40px;
        }
        .hashtag{
            display: flex;
            justify-content: space-between;
            width: 20%;
        }
    </style>
    <div class='hashtag'>
        {% for hashtag in object_list %}
            <h3 class="card-title">{{ hashtag.title }}
            <a href="/posts/?hashtag_id={{ hashtag.id }}">
                {{ hashtag.title }} ({{ hashtag.posts.count }})</a>
            </h3>
            </div>

        {% endfor %}
    </div>
{% endblock %}